.main_chat
  .main_header
    .group_info
      .group_name
        %p= "#{@group.name}"
      .member
        - @group.users.each do |user|
          %li= user.name

    = link_to edit_group_path(1), class: 'edit_btn' do
      .text
        Edit

  .chat_message
    .top_space
    .messages
      = render @messages

  .message_form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text_box', placeholder: 'type a message'
      .img_icon
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'input'
      = f.submit 'Send', class: 'send_btn'